#header {
    padding: 30px;
    background-color:cornflowerblue;
    border-bottom: darkblue 5px solid;
    text-transform: uppercase;
    font-size: 15px;
}

h1 {
    padding-bottom:20px ;
}



#header>a,#logged>a {
    margin:5px 5px;
    padding:10px;
    background-color: whitesmoke;
    color:black;
    opacity: 0.5;
    border-radius: 5px 5px;
}

#header>a:hover {
    background-color: grey;
}

#uploadform {
    display:flex;
}
#uploadform>h2 {
    margin-right:70px;
}
#uploadform>form {
    margin-top:25px;
}

#filestorage>table {
    width: 550px;
    border-collapse:collapse;
    margin-right:50px
}

tr:nth-child(even) {
    background-color:lightcyan;
    border-radius:100px;
}
tr {
    border-bottom: 2px solid black;
}


td,th {
    text-align: center;
    padding: 7px
}



th>a:link {
    text-decoration:none;
    color: black;
}
th>a:visited {
    color: black;
    text-decoration:none;
}
th>a:hover {
    color:grey;
}

#greeting {
    display:inline;
    float: right;
}

.profile {
    display: flex;
}
.profile {
    display: flex;
}




#logged {
    float: right;
    display:inline;

}

#content {
    padding: 65px;
}


body {
    align-content: center;
    background-color: whitesmoke;
}



.error {
    color:red;
}

#footer {
    border-top: darkblue 5px solid;
    padding: 20px;
    background-color:darkslategrey;
}


.defaultform {
    padding-left: 10px;
    border: 1px solid black;
    width: 300px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}