<div id="filestorage">
    <div></div>
    <h2>Fájlkezelő</h2>
    <div class="storageerror"><?php echo isset($GLOBALS["msg"]["message"])?$GLOBALS["msg"]["message"]:""?><br/></div>
    <div id="upload-container">
        <div>
            <h3>Keresés:</h3>
            <form action="http://localhost\filemanager\public\filestorage\search\file_name\ASC\0" method="POST">
                <input type="text" name="word" placeholder="pl.:orarend">
                <input type="submit" name="search">
            </form>
        </div>
        <div>
            <h3>Feltöltés</h3>
            <form action="http://localhost\filemanager\public\filestorage\uploadfile" method="POST" enctype="multipart/form-data">
                <input type="file" name="file">
                <input type="submit" name="uploadfile">
            </form>
        </div>

    </div>

    <table>
        <tr>
            <?php echo('
                <th><a href="http://localhost\filemanager\public\filestorage\search/file_name/'.$GLOBALS['msg']['sort'].$GLOBALS['msg']['word'].'">Fajlnev</a></th>
                <th><a href="http://localhost\filemanager\public\filestorage\search/file_size/'.$GLOBALS['msg']['sort'].$GLOBALS['msg']['word'].'">Fajlmeret</a></th>
                <th><a href="http://localhost\filemanager\public\filestorage\search/modif_date/'.$GLOBALS['msg']['sort'].$GLOBALS['msg']['word'].'">Modositva</a></th>');?>
                <th>Muveletek:</th>
                <th>Küldte:</th>
        </tr>
        <?php
            foreach ($GLOBALS["files"] as $items) {
                echo('<tr>');
                    echo('<td>'.$items["file_name"].'</td>
                        <td>'.$items["file_size"].' bytes</td>
                        <td>'.$items["modif_date"].'</td>
                        <td>
                            <a href="http://localhost\filemanager\public\filestorage\downloadfile/'.$items['file'].'">
                                <img src="http://localhost\filemanager\app\icons\download.png">
                            </a>
                            <a href="http://localhost\filemanager\public\filestorage\deletefile/'.$items['file'].'">
                                <img src="http://localhost\filemanager\app\icons\delete.png">
                            </a>');
                            echo(strcmp($items["file_type"],'text/plain')==0?'<a href="http://localhost\filemanager\public\editor\edit/'.$items['file'].'">
                            <img src="http://localhost\filemanager\app\icons\edit.png">
                        </a>':"");

                        echo('</td>  <td>Küldte:</td>');
                echo('</tr>');

            }
        ?>
    </table>
    <div id="pagnumber-container">
        <?php
        for ($i=1; $i<$GLOBALS["msg"]["pagenum"];$i++) {
            echo('<a href="http://localhost\filemanager\public\filestorage\search/'.$GLOBALS['msg']['clickedorder'].($i-1).$GLOBALS['msg']['word'].'">'.$i.'</a>');
        }
        ?>
    </div>



</div>
